body {
	background: rgba(250,0,0,.2);
}
ul {
	border: 2px solid red;
}
#special {
	color: red;
}
#other {
	color: blue;
}

.unity {
	text-decoration: line-through;
}

.todoList {
	text-decoration: line-through;
}