body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	font-family: Source Sans Pro;
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}

h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*#data {
	text-transform: uppercase;
	color: #3498db;
	font-family: Source Sans Pro;
	font-weight: 700;
	font-size: 0.8em;
	letter-spacing: 3px;
}

h2 {
	font-family: Source Sans Pro;
	font-weight: 900;
	font-size: 30px;
}
.border {
	border-left: 4px solid #bdc3c7;
	padding-left: 1%;
}
hr {
	width:90%;
	height:1px;
	background-color: #f1f1f1;
}
*/