h1 {
	text-align: center;
}

td {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}
table tr:first-child td {
	border-top: 0;
}
table td:first-child {
	border-left: 0;
}
table:last-child tr td {
	border-bottom: 0;
}
table tr td:last-child {
	border-right: 0;
}
table {
	width: 100;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}
