h1 {
	text-align: center;
}

/*td {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}
table tr:first-child td {
	border-top: 0;
}
table td:first-child {
	border-left: 0;
}
table:last-child td {
	border-bottom: 0;
}
table td:last-child {
	border-right: 0;
}*/
table {
	width: 100;
/*	border-collapse: collapse;*/
	margin: auto;
}
td {
	width: 100px;
	height: 100px;
}
.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}